h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 22px;
    color: #333d47;
}

p {
    font-size: 16px;
}

li {
    list-style-type: none;
}

img {
    height: 10%;
    width: 10%;
}

.menu {
    text-align:center;
    font-size: 18px;
}

.year {
    font-size: 16px;
}

#divider {
        border: 5px solid #ff8300;
}

#title {
    font-size: 18px;
    font-style: italic;
    color: black;
}

.author {
    font-size: 16px;
    color: #333d47;
}

.chapter {
    padding-left: 300px;
    padding-right: 300px;
}